APP_NAME=MajalisStore
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://majalis-backend.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DATABASE_URL=postgresql://majalis_db_user:5sUZ0yNwMt02rJaSDdsWvSgy7OSRtFyw@dpg-d7rj0mjt6lks73fqar80-a/majalis_db

SESSION_DRIVER=cookie
SESSION_LIFETIME=120

FILESYSTEM_DISK=local


CLOUDINARY_CLOUD_NAME=dkeoabdwj
CLOUDINARY_API_KEY=485475757316458
CLOUDINARY_API_SECRET=eRE6gnaYrDdSzkatu0rZnTKuq30
CLOUDINARY_URL=cloudinary://485475757316458:eRE6gnaYrDdSzkatu0rZnTKuq30@dkeoabdwj